@import 'github-markdown';

$brand-color: #98DDDE;
// $brand-color: tomato;
$text-color: #222222;
$gray-color: #555555;
$light-gray-color: lighten($gray-color, 20%);
$lighter-gray-color: lighten($light-gray-color, 20%);

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	font-family: -apple-system, 'BlinkMacSystemFont', Helvetica, Arial, sans-serif;
	color: $text-color;

	a {
		color: $text-color;
	}

	input[type="text"], input[type="search"] {
		outline: none;
	}

	button.btn {
		outline: none;
		border: none;
	}
}

.container{
	display: flex;
	width: 100%;
	height: 100%;

	#editor, #preview, #note-list {
		box-sizing: border-box;
		overflow: scroll;
	}

	#editor, #preview {
		flex: 1;
		display: inline;
	}

	#editor {
		position: relative;
		display: flex;
		flex-direction: column;

		#controls {
			position: absolute;
			z-index: 1000;
			background-color: white;
			width: 100%;
			color: $light-gray-color;
			font-size: 8pt;
			padding: 10px;
		}

		#editor-textarea {
			flex: 1;
			margin: 0;

			// position: absolute;
			// left: 0;
			// right: 0;
			// bottom: 0;
			// top: 0;
			// margin: 0;
		}

		#tags-editor {
			$tag-bg-color: transparentize($brand-color, 0.8);
			$tag-bg-color-hover: transparentize($brand-color, 0.5);
			$tag-color: transparentize(darken($brand-color, 50%), 0.5);

			background: none;
			padding: 10px;
			font-size: 9pt;
			font-weight: 300;
			-webkit-box-shadow: 0px 0px 20px white;
			z-index: 1000;

			.tags-input {
				input, span.tag {
					padding: 3px 5px;
					font-size: 9pt;
				}

				input {
					border: none;
					outline: none;

					&::-webkit-input-placeholder {
						color: $lighter-gray-color;
					}
				}

				span.tag {
					border-radius: 8px;
					background-color: $tag-bg-color;
					// border: 1px solid $tag-bg-color;
					color: $tag-color;
					margin-right: 4px;
					cursor: pointer;

					transition: background-color 0.1s, border-color 0.1s;

					&:hover, &.selected {
						background-color: $tag-bg-color-hover;
						border-color: $tag-bg-color-hover;
					}

					&.selected {
						border-color: darken($tag-bg-color-hover, 5%);
					}
				}
			}
		}
	}

	#command-palette {
		display: none;
		position: absolute;
		z-index: 1000;
		margin: 10px;

		input[type="text"] {
			padding: 10px;
			width: 100%;
			border: none;
			font-size: 16pt;
		}

		background-color: white;
		box-shadow: 0px 0px 7px #aaa;
		// width: 90%;
		top: 0;
		left: 0;
		right: 0;
		// bottom: 0;
	}


	#preview {
		height: 100%;
		float: right;
		border-left: 1px solid #eee;
	}

	#empty-note {
		margin: 0;
		padding: 30px;

		font-size: 28pt;
		font-weight: 300;
		color: $lighter-gray-color;

		text-align: center;
		width: 100%;
		// height: 100%;
		display: flex;
		justify-content: center;

		align-items: center;

		span {
			display: none;

			a {
				color: $light-gray-color;
				transition: color 0.15s;

				&:hover {
					color: $gray-color;
				}
			}
		}
		// z-index: 1;
	}

	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		// max-width: 980px;
		// margin: 0 auto;
		padding: 30px;
		// padding-top: 40px;
	}

	#sidebar {
		flex: 0 0 150px;
		background-color: rgba(0,0,0,0.05);
		// padding: 15px;
		padding-top: 35px;
		box-sizing: border-box;

		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;

		ul {
			margin: 0;
			padding: 0;

			li:last-child {
				margin-bottom: 16px;
			}

			// Sidebar Categories list (e.g. All notes, tags)
			li.note-list-type {
				list-style: none;
				padding: 0px 15px;

				font-size: 8pt;
				text-transform: uppercase;
				// letter-spacing: 1px;
				color: lighten($gray-color, 10%);
				font-weight: 500;

				line-height: 2.5;

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				i {
					margin-right: 4px;
				}

				&:hover {
					transition: background-color 0.15s;
					cursor: default;
					background-color: rgba(0,0,0,0.05);
				}

				&.active {
					background-color: rgba(0,0,0,0.1);
					color: darken($gray-color, 20%);
				}
			}
		}
	}

	#note-list {
		// padding-top: 23px;
		position: relative;

		flex: 0 0 200px;
		background-color: rgba(0,0,0,0.025);

		display: flex;
		flex-direction: column;

		span#note-list-label{
			padding: 15px;
			padding-bottom: 10px;
			margin-top: 24px;
			// margin-top: 1.5em;

			font-size: 8pt;
			text-transform: uppercase;
			font-weight: 400;
			color: $light-gray-color;
			letter-spacing: 1px;
		}

		button#btn-create-note {
			// position: absolute;
			// bottom: 0;
			// left: 0;
			// right: 0;
			// width: 100%;
			background: white;
			padding: 20px;
			font-size: 12pt;
			color: $lighter-gray-color;
		}

		ul {
			margin: 0;
			padding: 0;
			overflow-y: scroll;
			// display: flex;
			flex: 1;
		}

		ul li {
			padding: 10px 15px;
			list-style: none;
			font-size: 9pt;
			box-sizing: border-box;
			height: 54px;
			position: relative;
			// border-bottom: 1px solid #ddd;

			&:hover {
				transition: background-color 0.15s;
				background-color: rgba(0,0,0,0.07);
				cursor: default;

				button.btn-delete-note {
					display: block;

					&:hover {
						color: rgba(0,0,0,0.4);
						cursor: pointer;
					}
				}
			}

			&.active {
				background-color: darken($brand-color, 5%);
				color: white;
			}

			// Note title
			h1 {
				opacity: 1;
				font-size: 10pt;
				font-weight: 500;
				margin: 0;
				padding-bottom: 3px;

				width: 89%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			// Note timestamp
			span.note-timestamp {
				// font-size: 9pt;
				opacity: 0.6;
			}

			// Note list note delete button
			button.btn-delete-note {
				display: none;
				background: none;
				position: absolute;
				top: 0;
				top: 17px;
				right: 10px;
				font-size: 10pt;
				color: rgba(0,0,0,0.2);
			}


			p {
				line-height: 1.4em;
				margin: 0;
				padding: 0;
			}
		}

		#search-note {
			// position: absolute;
			// bottom: 0;
			height: 30px;
			background: none;
			border: none;
			border-top: 1px solid rgba(0,0,0,0.12);
			border-radius: 4px;
			padding: 8px;
			font-size: 9pt;
			box-sizing: border-box;
			color: $light-gray-color;

			transition: text-align 1s;

			&::-webkit-input-placeholder { 
				text-align:center;
			}

			&:focus::-webkit-input-placeholder { 
				text-align:left;
			}
		}
	}
}