@import 'github-markdown';

$brand-color: #98DDDE;
$text-color: #222222;
$gray-color: #555555;
$light-gray-color: lighten($gray-color, 20%);
$lighter-gray-color: lighten($light-gray-color, 20%);

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	font-family: -apple-system, 'BlinkMacSystemFont', Helvetica, Arial, sans-serif;

	input[type="text"] {
		outline: none;
	}

	button.btn {
		outline: none;
		border: none;
	}
}

.container{
	display: flex;
	width: 100%;
	height: 100%;

	#editor, #preview, #note-list {
		box-sizing: border-box;
		overflow: scroll;
	}

	#editor, #preview {
		flex: 1;
		display: inline;
	}

	#editor {
		position: relative;
		display: flex;
		flex-direction: column;

		#controls {
			position: absolute;
			z-index: 1000;
			background-color: white;
			width: 100%;
			color: $light-gray-color;
			font-size: 8pt;
			padding: 10px;
		}

		#editor-textarea {
			flex: 1;
			margin: 0;

			// position: absolute;
			// left: 0;
			// right: 0;
			// bottom: 0;
			// top: 0;
			// margin: 0;
		}

		#tags-editor {
			background-color: white;
			padding: 10px;
			font-size: 9pt;
		}
	}

	#sidebar {
		flex: 0 0 200px;
		background-color: #ddd;
	}


	#preview {
		height: 100%;
		float: right;
		border-left: 1px solid #eee;
	}

	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		// max-width: 980px;
		// margin: 0 auto;
		padding: 20px;
	}

	#note-list {
		// padding-top: 23px;
		position: relative;

		flex: 0 0 220px;
		background-color: rgba(0,0,0,0.02);

		display: flex;
		flex-direction: column;

		#search-note {
			// position: absolute;
			// bottom: 0;
			height: 30px;
			background: none;
			border: none;
			border-top: 1px solid rgba(0,0,0,0.12);
			border-radius: 4px;
			padding: 8px;
			font-size: 8pt;
			box-sizing: border-box;
			color: $light-gray-color;

			transition: text-align 0.2s;

			&::-webkit-input-placeholder { 
				text-align:center;
			}

			&:focus::-webkit-input-placeholder { 
				text-align:left;
			}
		}

		span#note-list-label{
			padding: 15px;
			padding-bottom: 10px;
			margin-top: 1.5em;

			font-size: 8pt;
			text-transform: uppercase;
			font-weight: 400;
			color: $light-gray-color;
			letter-spacing: 1px;
		}

		button#btn-create-note {
			// position: absolute;
			// bottom: 0;
			// left: 0;
			// right: 0;
			// width: 100%;
			background: white;
			padding: 20px;
			font-size: 12pt;
			color: $lighter-gray-color;
		}

		ul {
			margin: 0;
			padding: 0;
			overflow-y: scroll;
			// display: flex;
			flex: 1;
		}

		ul li {
			padding: 10px 15px;
			list-style: none;
			font-size: 9pt;
			box-sizing: border-box;
			height: 54px;
			position: relative;
			// border-bottom: 1px solid #ddd;

			&:hover {
				transition: background-color 0.15s;
				background-color: rgba(0,0,0,0.07);
				cursor: default;

				button.btn-delete-note {
					display: block;

					&:hover {
						color: rgba(0,0,0,0.4);
						cursor: pointer;
					}
				}
			}

			&.active {
				background-color: $brand-color;
				color: white;
			}

			// Note title
			h1 {
				opacity: 1;
				font-size: 10pt;
				font-weight: 500;
				margin: 0;
				padding-bottom: 3px;

				width: 89%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			// Note timestamp
			span {
				opacity: 0.7;
			}

			// Note list note delete button
			button.btn-delete-note {
				display: none;
				background: none;
				position: absolute;
				top: 0;
				top: 17px;
				right: 10px;
				font-size: 10pt;
				color: rgba(0,0,0,0.2);
			}


			p {
				line-height: 1.4em;
				margin: 0;
				padding: 0;
			}
		}
	}
}